{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ SITENAME }}{% endblock %}

{% block content %}
<article class="page">
	{% if page.hide_title != 'True' %}
	    <header class="page-header">
	        <div class="container">
			    <h1>{{ page.title }}</h1>
	            {% if page.subtitle %}
	            <p class="page-subtitle">{{ page.subtitle }}</p>
	            {% endif %}
	        </div>
	    </header>
	{% endif %}
    
    <div class="page-content">
        <div class="container">
            {{ page.content }}
        </div>
    </div>
</article>
{% endblock %}

